.logo_with_text {
    display: flex;
    align-items: center;
    height: 40px;

    .logo_text {
        padding: 0 15px;
        border-left: 1px solid var(--light-grey);
        height: 100%;
        color: var(--light-grey);
        font-size: 12px;
        line-height: 16px;
        text-transform: uppercase;
    }
}

@media screen and (min-width: 799px){
    .logo_text {
        display: flex;
        align-items: center;
    }
}

@media screen and (max-width: 800px){
    .logo_text {
        display: none;
    }
}