.main_logo {
    display: flex;
    align-items: center;
    max-width: fit-content;

    img {
        width: 40px;
        height: 40px;
    }

    p {
        font-size: 28px;
        color: var(--font-dark-blue);
        margin: 0 10px;
        strong {
            font-weight: 600;
        }
    }
}

@media screen and (max-width: 400px) {
    .main_logo {
        p {
            display: none;
        }
    }
}
